<div class="header-container">
    <div class="header">
        
    </div>
    <header class="wrapper clearfix">
        {{page.header}}
    </header>
</div>
<div class="main-container">
    <div class="main wrapper clearfix">
        {{page.content}}
        <aside>
            {{page.sidebar}}
        </aside>
    </div>
</div> 
<div class="footer-container">
    <footer class="wrapper">
        {{page.footer}}
    </footer>
</div>