<div class="header-container">
    <header class="wrapper clearfix">
        <nav>
            <ul>
                <li>{{ page.header }}</li>
            </ul>
        </nav>    
    </header>
</div>
<div class="main-container">
    <div class="main wrapper clearfix">
    <br>
        <aside>
            {{ page.sidebar }}
        </aside>  
    <br>    
    <article>
        {{ page.content }}
    </article>    
          
    </div>
</div> 
<div class="footer-container">
    <footer class="wrapper">
        {{ page.footer }}
    </footer>
</div>